<div class="d-flex">
  <ul>
    <li><a class="effect" [routerLink]="['/starting']">Challenge 00 - Starting with Angular</a></li>
    <li><a class="effect" [routerLink]="['/component']">Challenge 01 - Les Composants</a></li>
    <li><a class="effect" [routerLink]="['/user']">Challenge 02 - Le binding</a></li>
    <li><a class="effect" [routerLink]="['/directive']">Challenge 03.1 - Les Directives</a></li>
    <li><a class="effect" [routerLink]="['/custom-directives']">Challenge 03.2 - Les Customs Directives</a></li>
    <li><a class="effect" [routerLink]="['/reactive-form']">Challenge 06 - Les formulaires : reactive form</a></li>
    <li><a class="effect" [routerLink]="['/input']">Challenge 07 - Communication entre les composants : @Input</a></li>
  </ul>
  <ul>
    <li><a class="effect" [routerLink]="['/output']">Challenge 08 - Communication entre les composants : @Output</a></li>
  </ul>
</div>

<p>menu works!</p>
<ul>
  <li>
    <a [routerLink]="['/signup']">Sign Up</a>
  </li>
  <li>
    <a [routerLink]="['/user']">User</a>
  </li>
</ul>
