<div class="container">
  <div class="row justify-content-center">
    <form class="col-7 mt-4" (ngSubmit)="myForm.valid && addKitten()" [formGroup]="kittenForm" #myForm="ngForm">
      <div class="row g-3 justify-content-between mb-3">
        <div class="col-auto">
          <label class="col-form-label" for="name">Nom du chaton</label>
        </div>
        <div class="col-8">
          <input class="form-control" id="name" name="name" formControlName="name" type="text" placeholder="Felix">
        </div>
        <div *ngIf="kittenForm.controls['name'].errors && myForm.submitted">
          <div class="text-center text-danger my-3" *ngIf="kittenForm.controls['name'].errors['required']">
            Le nom du chaton est requis !
          </div>
        </div>
      </div>
      <div class="row g-3 justify-content-between mb-3">
        <div class="col-auto">
          <label class="col-form-label" for="race">Race</label>
        </div>
        <div class="col-8">
          <input class="form-control" id="race" name="race" formControlName="race" type="text" placeholder="Grosse foufoune à mamie">
        </div>
        <div *ngIf="kittenForm.controls['race'].errors && myForm.submitted">
          <div class="text-center text-danger my-3" *ngIf="kittenForm.controls['race'].errors['required']">
            La race du chaton est requise !
          </div>
        </div>
      </div>
      <div class="row g-3 justify-content-between mb-3">
        <div class="col-auto">
          <label class="col-form-label" for="birthday">Date de naissance</label>
        </div>
        <div class="col-8">
          <input class="form-control" id="birthday" name="birthday" formControlName="birthday" type="date">
        </div>
        <div *ngIf="kittenForm.controls['birthday'].errors && myForm.submitted">
          <div class="text-center text-danger my-3" *ngIf="kittenForm.controls['birthday'].errors['required']">
            La date de naissance du chaton est requise !
          </div>
        </div>
      </div>
      <div class="row g-3 justify-content-between mb-3">
        <div class="col-auto">
          <label class="col-form-label" for="picture">Photos</label>
        </div>
        <div class="col-8">
          <input class="form-control" id="picture" name="picture" formControlName="picture" type="text" placeholder="Lien vers une photo">
        </div>
        <div *ngIf="kittenForm.controls['picture'].errors && myForm.submitted">
          <div class="text-center text-danger" *ngIf="kittenForm.controls['picture'].errors['required']">
            La photo du chaton est requise !
          </div>
        </div>
      </div>
      <div class="text-center">
        <button [ngClass]="{'btn' : true, 'btn-secondary' : myForm.invalid, 'btn-success' : myForm.valid}" >Ajouter un chaton</button>
      </div>
    </form>
  </div>
</div>
