/***** Challenge 00 *****/

/***** Challenge 01 *****/

.unity {
  font-size: 1.2rem;
  text-align: center;
}

.bottom {
  margin-top: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}




div {
  text-align: center;
}

.admin-button {
  justify-content: center;
}
