<p>sign-up works!</p>
<form (ngSubmit)="signUpForm && onSubmit()" #signUpForm="ngForm">
  <div>
    <label for="firstName">Prénom</label>
    <input id="firstName" name="firstName" type="text" [(ngModel)]="model.firstname" #firstname="ngModel" required minlength="3" maxlength="15">
  </div>
  <div *ngIf="firstname.errors && signUpForm.submitted">
    <span *ngIf="firstname.errors?.['required']">Le champ prénom est requis</span>
    <span *ngIf="firstname.errors?.['minlength']">Le prénom doit comporter au moins 3 caractères</span>
    <span *ngIf="firstname.errors?.['maxlength']">Le prénom ne doit pas dépasser 15 caractères</span>
  </div>
  <div>
    <label for="lastName">Nom</label>
    <input id="lastName" name="lastName" type="text" [(ngModel)]="model.lastname" #lastname="ngModel" required minlength="3" maxlength="15">
  </div>
  <div *ngIf="lastname.errors && signUpForm.submitted">
    <span *ngIf="lastname.errors?.['required']">Le champ nom est requis</span>
    <span *ngIf="lastname.errors?.['minlength']">Le nom doit comporter au moins 3 caractères</span>
    <span *ngIf="lastname.errors?.['maxlength']">Le nom ne doit pas dépasser 15 caractères</span>
  </div>
  <div>
    <label for="email">Mail</label>
    <input id="email" name="email" type="email" [(ngModel)]="model.email" #email="ngModel" required email>
  </div>
  <div *ngIf="email.errors && signUpForm.submitted">
    <span *ngIf="email.errors?.['required']">Le champ email est requis</span>
    <span *ngIf="email.errors?.['email']">Le champ email est invalide</span>
  </div>
  <div>
    <label for="password">Mot de passe</label>
    <input id="password" name="password" type="text" [(ngModel)]="model.password" #password="ngModel" required>
  </div>
  <div *ngIf="password.errors && signUpForm.submitted">
    <span *ngIf="password.errors?.['required']">Le champ mot de passe est requis</span>
  </div>
  <button type="submit">Envoyer</button>
</form>
